{% load i18n %}
{% load layers_tags %}
{% load taggit_extras %}
{% load base_tags %}

<nav class="filter">
  <h2><a href="#" class="toggle toggle-nav"><i class="icon-chevron-down"></i>{% trans "Categories" %}</a></h2>
  <ul class="nav" id="categories">
    {% comment %}
    {% layer_categories_groups as catgrouplist %}
    <li><a data-class="all" class="active trigger-query">{% trans "All Categories" %}</a></li>
    {% for catgroup in catgrouplist %}
    <li><a data-class="{% for categorylink in catgroup.links %}{{ categorylink.base_topiccategory.slug}},{% endfor %}" class="trigger-query groupfilter">
       {% with categorygroupname=catgroup.name %}
       {% trans categorygroupname %}
       {% endwith %}       
       {% if type == 'layer' %}
       ({{ catgroup.counts.layers }})
       {% elif type == 'map' %}
       ({{ catgroup.counts.maps }})
       {% elif type == 'document' %}
       ({{ catgroup.counts.documents }})
       {% else %}
       ({{ catgroup.counts.layers|add:catgroup.counts.maps|add:catgroup.counts.documents }})
       {% endif %}    
       </a></li>
       {% for categorylink in catgroup.links %}
          {% with category=categorylink.base_topiccategory %}
          <li class="subfilter"><a data-class="{{category.slug}}" class="trigger-query">
          {% with categoryname=category.name %}
          {% trans categoryname %}
          {% endwith %}
          {% if type == 'layer' %}
          ({{ category.counts.layers }})
          {% elif type == 'map' %}
          ({{ category.counts.maps }})
          {% elif type == 'document' %}
          ({{ category.counts.documents }})
          {% else %}
          ({{ category.counts.layers|add:category.counts.maps|add:category.counts.documents }})
          {% endif %}
          {% endwith %}
          </a></li>
       {% endfor %}
    {% endfor %}
  </ul>
    {% endcomment %}
</nav>
<nav class="filter">
  <h2><a href="#" class="toggle toggle-nav"><i class="icon-chevron-down"></i>{% trans "Date" %}</a></h2>
  <ul class="nav" id="date_start">
    <label>{% trans "Date begins after" %}:</label>
    <li><input value="yyyy-mm-dd" data-date-format="yyyy-mm-dd" type="text" class="datepicker" placeholder="yyyy-mm-dd" /></li>
  </ul>
  <ul class="nav" id="date_end">
    <label>{% trans "Date ends before" %}:</label>
    <li><input value="yyyy-mm-dd" data-date-format="yyyy-mm-dd" type="text" class="datepicker" placeholder="yyyy-mm-dd" /></li>
  </ul>
</nav>
<nav class="filter">
  <h2><a href="#" class="toggle toggle-nav"><i class="icon-chevron-down"></i> {% trans "Keywords" %}</a></h2>
  <ul class="nav" id="keywords">
    {% for tag in tags.values %}
      <li><a data-class="{{ tag.slug }}" class="trigger-query">{{ tag.name }} <span>(<span class="count">{{ tag.count }}</span>)</span></a></li>
    {% endfor %}
  </ul>
</nav>
