{% extends "site_base.html" %}
{% load i18n %}
{% load maps_tags %}
{% load layers_tags %}
{% load pagination_tags %}
{% load staticfiles %}
{% load url from future %}
{% load base_tags %}

{% block title %} {% trans "Welcome!" %} - {{ block.super }} {% endblock %}

{% block body_class %}home{% endblock %}

{% block body_outer %}
<div class="span12">
  {% block hero %}
  <div class="hero-unit">
    <h1>{% trans "Welcome" %}</h1>
    <div class="hero-unit-content">
      <div class="intro">
      
        <p>
            {% blocktrans %}
            The purpose of this site is to facilitate open access to Haiti-related geo-spatial information, data and knowledge sources, encouraging others to share and use them for the development of Haiti.
            {% endblocktrans %}
            <a href="{% url "about" %}">{% trans "Read more" %}</a>
         
        </p>
        <span>{% trans 'Need help' %} <a href="http://geonode.github.com/workshops/user">{% trans 'Getting Started?' %}</a></span>
        <div class="navbar navbar-inverse">
          <div class="navbar-inner">
            <div class="container" style="width: auto;">
              <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </a>
              <a class="brand" style="line-height: 20px; text-indent: 5px;" href="#">{% trans "Categories" %}</a>
              <div class="nav-collapse" style="float: right;">
                <ul class="nav" style="background: #99AABB;"><li><a href="{% url "layer_browse" %}">{% trans "Explore Layers" %}</a></li><li><a href="{% url "maps_browse" %}">{% trans "Explore Maps" %}</a></li></ul>
              </div>
            </div>
          </div>
        </div>
        {% comment %}
        <div class="main-categories-container">
          
            {% layer_categories_groups as catgrouplist %}


            {% for catgroup in catgrouplist %}

               <span class="wrappable">
               <a href="{% url "search" %}?category={% with catgroupcategories=catgroup.links %}{% for link in catgroupcategories %}{{ link.base_topiccategory.slug }},{% endfor %}{% endwith %}" class="btn btn-category btn-main-category">
               {% with catgroupname=catgroup.name %}

                  {% trans catgroupname %}

               {% endwith %}
               </a>
               </span>

               <span class="wrappable main-category-description">
               {% with catgroupdesc=catgroup.description %}

               {% trans catgroupdesc %}

               {% endwith %}
               </span>

            {% endfor %}

        </div>
        {% endcomment %}
        <div class="btns">
        
          <img src="{{ STATIC_URL }}theme/img/haiti.png" width="385" />
        </div>
      </div>
    </div>
  </div>
  {% endblock %}
  {% block mainbody %}
  <div class="row">
    <div class="span8">
      <section class="widget list paginate-contents">
        <h2>{% trans "Latest Layers" %}</h2>
        <div class="paginate paginate-auto" id="search-content">
          {% include 'search/search_content.html' %}
        </div>
      </section>
    </div>
    <aside class="span4">
      {% if request.user.is_authenticated %}
        <div class="well">
          <section>
            <h2>{% trans "Contribute" %}</h2>
            <p class="main-actions">
            {% blocktrans %}
              You may upload, manage, and browse data layers. Search for data that is valuable to you, or upload your own data. 
            {% endblocktrans %}
              <a href="{% url "layer_upload" %}" class="btn btn-large">{% trans 'Upload Layers' %}</a>
            {% blocktrans %}
              You may compose and share maps. Create a map with our cartography tool, or explore maps shared by others. 
            {% endblocktrans %}
              <a href="{% url "new_map" %}" class="btn btn-large">{% trans 'Create a Map' %}</a>
            </p>
          </section>
        </div>
      {% endif %}
      <div class="well">
        <h2>{% trans "Latest Maps" %}</h2>
        <section class="article-list">
          {% featured_maps as featured_maps %}
          {% for map in featured_maps %}
            {% include "maps/_map_list_item.html" %}
          {% endfor %}
      </div>
    </aside>
  </div>
  {% endblock %}
</div>
{% endblock %}

{% block extra_script %}  
  <script src="{% static "libs/js/waypoints.js" %}"></script>
  <script src="{% static "libs/js/jquery.raty.js" %}"></script>
  <script src="{% static "geonode/js/global_search.js" %}"></script>
{% endblock extra_script %}
